<div class="container fluid">
    <h3>Product Details</h3>
    <div class="row">
        <div class="col-4">
           <dl>
               <dt>Product ID:</dt>
               <dd>{{searchproduct.productid}}</dd>
               <dt>Name:</dt>
               <dd>{{searchproduct.name}}</dd>
               <dt>Price:</dt>
               <dd>{{searchproduct.price}}</dd>
               <dt>photo:</dt>
               <dd><img [src]="searchproduct.photo" height="100" width="100"> </dd>
           </dl> 
            
        </div>
    </div>

</div>
