<div class="container-fluid">
<h1 class="text-center text-primary">Amazon Shopping</h1>
<div class="row">
  <div class="col-3"> 
    <ul class="list-unstyled mt-3">
      <li class="mt-3" ><a routerLink="home" class="btn btn-danger btn-block">Home</a></li>
      <li class="mt-3" ><a routerLink="electronics" class="btn btn-danger btn-block">Electronics</a></li>
      <li class="mt-3" ><a routerLink="footwear" class="btn btn-danger btn-block">Footwear</a></li>
      <li class="mt-3" ><a routerLink="search/1/Mobile/45000" class="btn btn-danger btn-block">Search</a></li>
      <li class="mt-3" ><a routerLink="categories" class="btn btn-danger btn-block">Categories</a></li>
      <li class="mt-3" ><a routerLink="login" class="btn btn-danger btn-block">Manager</a></li>
   
    </ul>

  </div>
  <div class="col-9"> 
    <router-outlet></router-outlet>

  </div>
</div>
</div>